
    <!-- Contenedor para el footer -->
    <div th:fragment="footer(paginaAnterior, paginaSiguiente, esFinal)" class="footer py-4 bt-0">
        <div class="container">
            
            
            <div class="row py-3">
                <div class="col" th:if="${not #strings.isEmpty(paginaAnterior)}">
                    <a th:href="@{${paginaAnterior}}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-2"></i>Atrás
                    </a>
                </div>
                <div class="col" th:if="${#strings.isEmpty(paginaAnterior)}"></div>
                
                <div class="col text-end">
                    <th:block th:if="${esFinal}">
                        <button type="submit" form="datosForm" class="btn btn-success">
                            <i class="fas fa-check me-2"></i>Confirmar Reserva
                        </button>
                    </th:block>
                    <th:block th:unless="${esFinal}">
                        <a th:href="${paginaSiguiente}" class="btn btn-primary">
                            Siguiente <i class="fas fa-arrow-right ms-2"></i>
                        </a>
                    </th:block>
                </div>
            </div>    
                <hr>
                <div class="row">
                    <div class="col text-center">
                        <p class="mb-0">© Derechos reservados de la Cevicheria El Pez Marino</p>
                    </div>
                </div>
            
        </div>
    </div>    
