<div class="col">
                            <div class="card h-100 d-flex justify-content-center align-items-center p-3">
                                <img th:src="@{/img/productos/piqueos.jpg}" class="card-img-top" alt="piqueos">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Piqueos</h5>
                                    <p class="card-text price-tag">s/.10.00</p>
                                    <button class="btn btn-add-to-cart">Agregar al carrito</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-flex justify-content-center align-items-center p-3">
                                <img th:src="@{/img/productos/chilcano.jpg}" class="card-img-top" alt="chilcano">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Sopa</h5>
                                    <p class="card-text price-tag">s/.10.00</p>
                                    <button class="btn btn-add-to-cart">Agregar al carrito</button>
                                </div>
                            </div>
                        </div>